* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero_section {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}

.header {
  width: 1150px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.logo {
  width: 155px;
  height: 40px;
}

.links {
  width: 504px;
  height: 24px;
}

.links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.links li a {
  text-decoration: none;
  color: #141414;
  font-weight: 700;
  font-size: 18px;
}
.drop-down {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.links #active {
  color: #0065fe;
}
.cta {
  width: 211px;
  height: 44px;
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 16px;
}

.cta a {
  color: #0065fe;
  text-decoration: none;
  font-weight: 700;
}

.btn {
  width: 142px;
  height: 44px;
  border-radius: 100px;
  padding: 12px 24px;
  background-color: #0065fe;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.frame_1 {
  width: 948px;
  height: 389px;
  margin: 32px auto;
}

.optimise {
  width: 948px;
  height: 313px;
}

.opt_text {
  width: 948px;
  height: 200px;
}

.opt_text p {
  font-size: 48px;
  line-height: 96px;
  text-align: center;
  font-weight: 700;
}

#url {
  color: #005ae2;
}

#para {
  width: 781px;
  height: 105px;
  font-size: 18px;
  line-height: 28px;
  color: #141414;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}

.more {
  display: flex;
  gap: 56px;
  width: 282px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.more a {
  color: #0065fe;
  text-decoration: none;
}

.frame_2 {
  width: 833px;
  height: 337px;
  margin: 20px auto;
  position: relative;
}

.frame_2_details {
  width: 768px;
  height: 224px;
  margin: 16px auto;
  border-radius: 24px;
  border-width: 0.5px;
  padding: 40px 60px;
  background-color: #fefefe;
  border: 0.5px solid #005ae2;
}

.frame_2_details p {
  width: 648px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
  text-align: center;
  font-weight: 400;
}

.frame_2_details img {
  width: 384px;
  height: 80px;
}

#vector {
  width: 238px;
  height: 251px;
  position: absolute;
  z-index: -1;
  top: -13px;
  left: 33px;
}

.eclipse {
  width: 1440px;
  height: 93px;
}

.desktop {
  width: 1440px;
  height: 782px;
  margin: 0 auto;
  background-color: #fff;
}

.frame_3 {
  width: 100%;
  height: 220px;
  padding: 60px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbfd;
}

.frame_3_text {
  width: 337px;
  height: 96px;
}

.frame_3_text p {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

#pos {
  color: #005ae2;
}

.data {
  width: 709px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.data_details {
  width: 346px;
}
.data_details span {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #141414;
}

.data_details p {
  font-size: 15px;
}

.frame_4 {
  width: 100%;
  height: 504px;
  padding: 40px 140px;
  display: flex;
  gap: 96px;
}

.why {
  width: 398px;
  height: 256px;
}

.why #h3 {
  width: 398px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
}

#h3_text {
  color: #005ae2;
}

.why p {
  width: 370px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.why_details {
  width: 708px;
  height: 504px;
}

.why_details .one {
  width: 100%;
  height: 220;
  display: flex;
  gap: 28px;
  margin-bottom: 6px;
}

.one_details {
  width: 340px;
  height: 220px;
}

.one_details span {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(50, 132, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
}

.one_details span img {
  width: 24px;
  height: 24px;
}

.one_subtext {
  width: 100%;
  height: 124px;
  margin-top: 20px;
}

.one_subtext h3 {
  font-size: 32px;
  line-height: 28px;
}

.one_subtext p {
  width: 100%;
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.two {
  width: 100%;
  height: 220;
  display: flex;
  gap: 28px;
}

.desktop_1 {
  width: 100%;
  height: 973px;
  padding: 30px 140px;
}

.frame_5 {
  width: 576px;
  height: 108px;
  margin: 16px auto;
}

.price_text {
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why_images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
.price_text img,
.why_images img {
  width: 5px;
  height: 48px;
}

.price_text h4 {
  width: 100%;
  height: 48px;
  font-size: 40px;
  text-align: center;
}

.price_text span {
  color: #005ae2;
}

.frame_5 p {
  width: 556px;
  height: 52px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #141414;
}

/* Plan features Styling */
.plans {
  width: 1088px;
  height: 627px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.plan_features_1,
.plan_features_3 {
  width: 329px;
  height: 380px;
  border-radius: 12px;
  background-color: #fff;
  border: 0.4px solid #005ae2;
  box-shadow: 0 4px 8px 0 #0000000d;
}

.plan_features_1 {
  padding: 20px 0px 0px 60px;
}
.plan_features_3 {
  padding: 20px 0px 0px 30px;
}

.plan_features_2 {
  width: 400px;
  height: 497px;
  background-color: #1e3448;
  color: #fff;
  border: 0.4px solid #1e3448;
  box-shadow: 0 4px 8px 0 #0000000d;
  border-radius: 12px;
  padding: 60px 0px 0px 40px;
}

.plan_features_2 h4 {
  font-size: 24px;
  margin-bottom: 24px;
}

.Features_1_prof {
  width: 239px;
  height: 328px;
}
.prof_head {
  margin-bottom: 8px;
}

.prof_head span {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.prof_head p {
  font-size: 20px;
}

.free_lists {
  margin-top: 24px;
}

.free_lists ul {
  list-style: none;
}

.free_lists ul li {
  margin-bottom: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.plan_text {
  font-size: 24px;
  font-weight: 400;
}

.Features_1_free {
  margin-top: 16px;
}

.free_head span {
  font-size: 40px;
  font-weight: 700;
}

.free_head {
  margin-bottom: 8px;
}

.free_head p {
  font-size: 20px;
}

.icon {
  color: #005ae2;
  font-size: 20px;
}

/* Pricing cta */
.cta-pricing {
  width: 412px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 12px;
}

.cta-pricing .prices-btn {
  width: 200px;
}

#btn-white {
  background-color: #fff;
  color: #0065fe;
  border: 1px solid #005ae2;
}

.prices-btn:hover {
  background-color: #005ae2;
  color: #fff;
  transition: all 0.5s;
}
#btn-white:hover {
  background-color: #005ae2;
  color: #fff;
  transition: all 0.5s;
}

/* style for form */
.desktop_11 {
  width: 1440px;
  height: 523px;
  background: linear-gradient(
    to bottom,
    rgba(30, 52, 72, 1),
    rgba(30, 52, 72, 0)
  );
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 476px;
  height: 355px;
  background-color: #fff;
  border-radius: 12px;
  margin: 0px auto;
}

.input_top {
  width: 392px;
  height: 127px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 0px auto;
}

#input_url {
  grid-column: span 2;
  margin-top: 24px;
  width: 392px;
  height: 55px;
  border-radius: 12px;
  padding: 8px 12px;
  border: 1px solid rgba(50, 132, 255, 1);
}
#input_url::placeholder {
  color: #005ae2;
}

.form_details {
  width: 392px;
  height: 48px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#domain,
#alias {
  height: 48px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid rgba(50, 132, 255, 1);
  padding: 1px 20px;
}

#domain {
  margin-right: 10px;
}
#alias::placeholder {
  color: #005ae2;
}
#domain::placeholder {
  color: #005ae2;
}

#alias {
  width: 172px;
}

.input_cta {
  width: 392px;
  height: 120px;
  margin: 72px auto 0px auto;
}

.input_btn {
  width: 100%;
  height: 48px;
  border-radius: 100px;
  padding: 12px 24px;
  border: 1px solid rgba(0, 90, 226, 1);
  background-color: rgba(0, 90, 226, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
  cursor: pointer;
}

.input_cta p {
  font-size: 1rem;
  color: rgba(50, 132, 255, 1);
}

.input_cta p a {
  text-decoration: none;
  font-weight: 700;
  color: #0065fe;
}

.faqs {
  width: 1440px;
  height: 953px;
  margin: 0 auto;
}

.faq-container {
  width: 60%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

details {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

details:last-child{
  border-bottom: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  transition: background 0.3s;
  list-style: none;
}

summary:hover {
  background: #e0e0e0;
}

.faq-answer {
  padding: 10px;
  font-size: 16px;
  color: #555;
}

/* Plus and Minus Icon */
summary::after {
  content: "+";
  font-size: 24px;
  font-weight: 700;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  content: "−"; /* Changes to minus when opened */
}
